@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #E8E8E8;
  --defaulttext: #333333;
}

body {
  color: var(--defaulttext);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
